@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

* {
  font-family: 'Mulish', serif;
}

  .k-calendar-navigation{
    display: none;
  }
  .k-calendar-weekdays .k-calendar-table{
    display: none;
  }
  .k-calendar-thead{
    display: none;
  }
 